.header {
    position: relative;
    height: 100px;
    overflow: hidden;
}

.blur-circle-shape {
    position: absolute;
    top: -125px;
    left: -125px;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    background: var(--green-400);
    z-index: 0;
    filter: blur(250px);
}



/* Archive:Card */

.services-inner {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-row-gap: 50px;
    grid-column-gap: 20px;
}