body section .tabs-container {
  padding: 4rem 2.5rem 2.5rem;
  background-color: #FFFFFF;
  border-radius: 50px;
}

.tabs-container .tabs .tab,
.tabs-container .tabs input[type=radio] {
  display: none;
}

.tabs-container .tabs input[type=radio]+label {
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  opacity: 0.6;
  cursor: pointer;
  user-select: none;
}

.tabs-container .tabs input[type=radio]:checked+label {
  border-bottom: 2px solid #000;
  opacity: 1;
}

.tabs-container .tabs .tab {
  margin: 0;
  padding: 2rem 0;
  border-top-width: 2px;
  border-top-style: solid;
  border-color: #000000;
}

.tabs input:first-of-type:checked+label~.tab:first-of-type,
.tabs input:nth-of-type(2):checked+label~.tab:nth-of-type(2),
.tabs input:nth-of-type(3):checked+label~.tab:nth-of-type(3) {
  display: block;
}

.tabs-container .tabs .tab ul {
  display: grid;
  margin: 0;
  padding: 0;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
  grid-auto-flow: row;
  justify-content: center;
  list-style: none;
}

.tabs-container .tabs .tab ul li {
  margin: 1rem;
  padding: 2rem;
  border: 1px solid #000000;
  border-radius: 4px;
  aspect-ratio: 3 / 2;
}

.tabs-container .tabs .tab p {
  margin: 1.5rem;
}